@import url('http://fonts.cdnfonts.com/css/d-din');
.box_container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.box_container .background {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box_container .background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.box_container .bottom_content {
    position: absolute;
    bottom: 10%;
    left: 2.5rem;
    width: 70%;
    max-width: 500px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-70%);
    transition: all 1s;
    transition: opacity 1s, transform 1s;
}

@media screen and (min-width: 767px) {
    .box_container .bottom_content {
        position: absolute;
        bottom: 15%;
        left: 10rem;
    }
}

@media screen and (min-width: 1440px) {
    .box_container .bottom_content {
        position: absolute;
        bottom: 30%;
        left: 20rem;
    }
}
@media screen and (max-width: 430px) {
    .box_container .bottom_content {
        position: absolute;
        bottom: 10%;
        left: 2.5rem;
        width: 70%;
        max-width: 500px;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-25%);
        transition: all 1s;
        transition: opacity 1s, transform 1s;
    }
}

.box_container .bottom_content .content_header {
    /* font-size: 3rem; */
    text-align: left;
    margin: 0 0 1rem left auto;
    font-weight: normal;
    /* font-size: 20px; */
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'D-DIN', sans-serif;
    color: white;
    text-shadow: 1px 1px black;
}

.box_container .bottom_content .content_sub_header {
    /* font-size: 3rem; */
    font-family: 'D-DIN', sans-serif;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    text-shadow: 1px 1px black;
    /* font-size: 35px; */
    font-size: 2.5rem;
}

.box_container .bottom_content .content_button {
    border: 2px solid white;
    display: inline-block;
    position: relative;
    margin-top: 2.5rem;
}

.box_container .bottom_content .content_button .text {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    padding: 1.6rem 4.5rem;
    text-transform: uppercase;
    font-family: 'D-DIN', sans-serif;
    transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.box_container .bottom_content .content_button .hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: -1;
    /* scale3d will take three parameters first will be for x exis second one will be for y-exis and the last one is for z exis */
    transform: scale3d(1, 0, 1);
    transform-origin: top center;
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.box_container .bottom_content .content_button:hover .hover {
    transform: scale3d(1, 1, 1);
    transform-origin: bottom center;
}

.box_container .bottom_content .content_button:hover .text {
    color: black;
}

.box_container.on_screen .bottom_content {
    opacity: 1;
    transform: translateY(0);
}

.box_container .background.one#image1 {
    background-image: url(../img/home/jf2.png);
    background-position: 55% 100%;
}

.box_container .background.one#image2 {
    background-image: url(../img/home/jf2_mobile.png);
    background-position: 50% 50%;
}

.box_container .background.two {
    background-image: url(../img/home/jf3_vtol.png);
    background-position: 50% center;
}

.box_container .background.two#image2 {
    background-image: url(../img/home/jf3_vtol_mobile.png);
    background-position: 50% 50%;
}

.box_container .background.three#image1 {
    background-image: url(../img/home/jf4.png);
    background-position: 60% center;
}

.box_container .background.three#image2 {
    background-image: url(../img/home/jf4_mobile.png);
    background-position: 50% center;
}

.box_container .background.four#image1 {
    background-image: url(../img/home/jr5.png);
    background-position: 75% center;
}

.box_container .background.four#image2 {
    background-image: url(../img/home/jr5_mobile.png);
    background-position: 50% center;
}

@media screen and (max-width: 768px) {
    #image1 {
        display: none;
    }
    #image2 {
        display: block;
    }
    #video-container {
        display: none;
    }
    #background-video {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #image1 {
        display: block;
    }
    #image2 {
        display: none;
    }
}


/* ===========================----------------============================= */


/* .update {
    text-align: center;
    color: #fff;
    background-color: rgb(126, 40, 40);
    padding: 10px 0;
    margin-bottom: 0;
    margin-top: 0;
}
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: black;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-slide a:hover {
    background-color: gray;
}
.card {
    position: relative;
    text-align: center;
    margin: 20px;
}
.card p {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    text-align: center;
    color: #262626;
    background-color: rgb(192, 189, 189);
    height: 50px;
    overflow: hidden;
}
.see_more {
    text-align: center;
    padding-bottom: 20px;
    background: black;
} */
