@import url('http://fonts.cdnfonts.com/css/d-din');

/* Demo styles */


/* html,
body {
    position: relative;
    height: 100%;
    background-color: black;
} */

body {
    font-family: 'D-DIN', sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 90%;
}

.swiper-button-prev {
    left: 3%;
    font-family: 'D-DIN', sans-serif;
    font-weight: bolder;
    color: white;
}

.swiper-button-next {
    right: 3%;
    font-family: 'D-DIN', sans-serif;
    font-weight: bolder;
    color: white;
}


/* Demo styles end */


/* for table  */

table {
    color: white;
    width: 100%;
}

.trow {
    border-bottom: 1px solid white;
    display: block;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.g_color {
    text-transform: lowercase;
    color: gray;
}

.property {
    display: inline;
    text-align: left;
    font-size: 17px;
}

.value {
    text-transform: lowercase;
    display: block;
    text-align: right;
    font-size: 17px;
}

.list_holder {
    text-align: left;
}

.list_holder dl dt {
    color: white;
    font-size: 20px;
}

.list_holder dl dd {
    color: white;
    font-size: 17px;
    padding-bottom: 10px;
}

.applications {
    padding-top: 10px;
    color: white;
    text-align: left;
    font-family: 'D-DIN', sans-serif;
    font-size: 17px;
}

.a,
.b,
.c {
    transition: opacity 1s ease-in-out;
}

.col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* product details */


/* head_banner */

.head_banner {
    width: 100%;
    height: 100vh;
}

.head_banner .background_img {
    height: 100vh;
    width: 100%;
    background-image: url(../img/industry/army5.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.banner_text {
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(14, 13, 13, 0.5);
}

.banner_text h1 {
    font-weight: 700;
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
    text-align: center;
}

.banner_text p {
    text-align: center;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}


/* head_banner end*/


/* main box css */

.main_box {
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.main_box_img {
    height: 400vh;
}

.image_holder {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    bottom: 0;
}

.image_holder .background_img {
    height: 100vh;
}

.temp_background {
    z-index: 3;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-image: url(../img/jf2/jf2_new.png);
    background-size: cover;
}

.slide_container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
}


/* main box css end */


/* intro section */

.bottom_content_position {
    position: absolute;
    top: 3%;
    width: 100%;
    height: 100vh;
}

.intro_holder {
    display: flex;
    justify-content: left;
    align-items: center;
    /* max-width: 550px; */
    max-width: 950px;
    height: 100%;
    padding-left: 300px;
    padding-right: 50px;
    padding-top: 100px;
    word-spacing: 3px;
    letter-spacing: 1px;
    line-height: 30px;
}

.intro_holder p {
    font-family: 'D-DIN', sans-serif;
    text-transform: none;
    text-align: left;
    font-size: 17px;
    color: white;
}


/* intro section end */


/* horizontal slide */
.slide_container{    
    background-image: url(../img/jf2/jf2_new.png); 
    background-repeat: no-repeat;
    background-size: cover;
} 

.h_slide1 .row,
.h_slide2 .row,
.h_slide3 .row,
.h_slide4 .row {
    height: 100%;
    width: 100%;
}


.h_slide2 {
    background-image: url(../img/jf2/jf2_new2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.h_slide3 {
    background-image: url(../img/jf2/jf2_new3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.h_slide1 .column1,
.h_slide4 .column1,
.h_slide2 .column2,
.h_slide3 .column2 {
    height: 100vh;
    padding: 50px;
}

.h_slide1 .th,
.h_slide2 .th,
.h_slide3 .th,
.h_slide4 .th {
    color: white;
    text-align: left;
    margin-bottom: 20px;
}

.h_slide1 .column1 .th h3,
.h_slide2 .column2 .th h3,
.h_slide3 .column2 .th h3,
.h_slide4 .column1 .th h3 {
    font-size: 25px;
    color: white;
}

.h_slide1 .column1 .th h2,
.h_slide2 .column2 .th h2,
.h_slide3 .column2 .th h2,
.h_slide4 .column1 .th h2 {
    font-size: 50px;
    font-weight: bolder;
}


/* horizontal slide end */

@media screen and (max-width: 767px) {
    .background_img {
        background-position: 70% center;
    }
    .banner_text h1 {
        font-size: 40px;
    }
    .banner_text p {
        font-size: 18px;
    }
    .main_box_img {
        height: 300vh;
    }
    .temp_background {
        background-image: url(../img/jf2/jf2_new_mobile2.png); 
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
    .intro_holder {
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        padding-top: 10px;
    }
    .slide_container{    
        background-image: url(../img/jf2/jf2_new_mobile2.png); 
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    } 
    .h_slide2 {
        background-image: url(../img/jf2/slide2_mobile2.png);
        background-size: cover;
        background-position: center 50%;
    }
    .h_slide3 {
        background-image: url(../img/jf2/jf2_new_mobile3.png);
        background-size: cover;
        background-position: center 50%;
    }
    .value,
    .property {
        font-size: 15px;
    }
    .intro_holder{
        padding-top: 200px;
    }
    .h_slide1 .row .column2 {
        height: 15vh;
        order: 1;
    }
    .h_slide4 .row .column2 {
        height: 15vh;
        order: 1;
    }
    .h_slide2 .row .column1,
    .h_slide3 .row .column1 {
        height: 18vh;
        order: 1;
    }
        
    .h_slide3 .row .column1 {
        height: 18vh;
        order: 1;
    }
    .h_slide1 .row .column1,
    .h_slide2 .row .column2,
    .h_slide3 .row .column2,
    .h_slide4 .row .column1 {
        order: 2;
    }

    .h_slide1 .column1,
    .h_slide2 .column2,
    .h_slide3 .column2,
    .h_slide4 .column1 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .h_slide1 .column1 .th h3,
    .h_slide2 .column2 .th h3,
    .h_slide3 .column2 .th h3,
    .h_slide4 .column1 .th h3 {
        font-size: 20px;
    }
    .h_slide1 .column1 .th h2,
    .h_slide2 .column2 .th h2,
    .h_slide3 .column2 .th h2,
    .h_slide4 .column1 .th h2 {
        font-size: 30px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 47%;
    }
    .swiper-button-prev {
        left: 80%;
        font-family: 'D-DIN', sans-serif;
        font-weight: bolder;
        color: white;
    }
    .swiper-button-next {
        right: 3%;
        font-family: 'D-DIN', sans-serif;
        font-weight: bolder;
        color: white;
    }

}

@media screen and (min-width: 768px) {                                                                  
    .banner {
        background-position: center center;
    }
    .main_box_img {
        height: 250vh;
    }
    .temp_background {
        background-position: 80% center;
    }
    .slide_container {
        background-position: 80% center;
    }
    .h_slide2 {
        background-position: 15% center;
    }
    .h_slide3 {
        background-position: 15% center;
    }
    .h_slide1 .column1,
    .h_slide4 .column1 {
        padding-right: 0px;
        padding-left: 50px;
    }
    .h_slide2 .column2,
    .h_slide3 .column2 {
        padding-left: 0px;
        padding-right: 50px;
    }
    .h_slide1 .column1 .th h3,
    .h_slide2 .column2 .th h3,
    .h_slide3 .column2 .th h3,
    .h_slide4 .column1 .th h3 {
        font-size: 20px;
        color: white;
    }
    .h_slide1 .column1 .th h2,
    .h_slide2 .column2 .th h2,
    .h_slide3 .column2 .th h2,
    .h_slide4 .column1 .th h2 {
        font-size: 40px;
        font-weight: bolder;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px)  {
    .intro_holder {
        padding-left: 50px;
        padding-right: 0px;
        max-width:500px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
    .main_box_img {
        height: 300vh;
    }
    .intro_holder {
        padding-left: 100px;
        padding-right: 0px;
        max-width:650px;
    }
    .h_slide1 .column1,
    .h_slide4 .column1 {
        padding-right: 0px;
        padding-left: 100px;
    }
    .h_slide2 .column2,
    .h_slide3 .column2 {
        padding-left: 0px;
        padding-right: 100px;
    }
    .h_slide1 .th,
    .h_slide2 .th,
    .h_slide3 .th,
    .h_slide4 .th {
        margin-bottom: 0px;
    }
    .h_slide1 .table_holder,
    .h_slide2 .table_holder,
    .h_slide3 .table_holder,
    .h_slide4 .table_holder {
        margin-top: 50px;
    }
}

@media screen and (min-width: 1500px) {
    .intro_holder {
        padding-left: 300px;
        padding-right: 100px;
    }
    .h_slide1 .column1,
    .h_slide4 .column1 {
        padding-right: 100px;
        padding-left: 300px;
    }
    .h_slide2 .column2,
    .h_slide3 .column2 {
        padding-left: 100px;
        padding-right: 300px;
    }
}
