/* head_banner */

.head_banner {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .head_banner .background_img .img1 {
        padding-top: 50px;
        margin-top: 50px;
    }
}


/* head_banner end*/


/* ===============---------------================= */

.content {
    text-align: center;
    color: #fff;
    margin-top: 100px;
}

.content h2,
.content h2 {
    font-size: 46px;
    font-weight: 500;
    color: white;
}

.media,
.media2 {
    /* min-height: 50vh; */
    /* height: 370px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.media .containerr,
.media2 .containerr2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerr .mediaInfo {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.containerr2 .mediaInfo2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}


/* .containerr .mediaInfo a,
.containerr2 .mediaInfo2 a{
    text-decoration: none;
    color: white;
} */

.containerr .mediaInfo,
.containerr2 .mediaInfo2 {
    text-decoration: none;
    color: white;
}


/* .containerr .mediaInfo a .box {
    display: flex;
    align-items: center;
    padding: 0 50px;
} */

.containerr .mediaInfo .box {
    display: flex;
    align-items: center;
    padding: 0 50px;
}


/* .containerr2 .mediaInfo2 a .box {
    display: flex;
    align-items: center;
    padding: 0 50px;
} */

.containerr2 .mediaInfo2 .box {
    display: flex;
    align-items: center;
    padding: 0 50px;
}


/* .containerr .mediaInfo a .box .text {
    display: flex;
    font-size: 18px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
} */

.containerr .mediaInfo .box .text {
    display: flex;
    font-size: 18px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.containerr2 .mediaInfo2 .box .text {
    display: flex;
    font-size: 18px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.media_image,
.media_image2 {
    width: 40%;
    text-align: center;
}

@media screen and (max-width: 1500px) {
    /* .containerr .mediaInfo a .box,
    .containerr2 .mediaInfo2 a .box {
        padding: 0 20px;
    } */
    .containerr .mediaInfo .box,
    .containerr2 .mediaInfo2 .box {
        padding: 0 20px;
    }
}

@media screen and (max-width: 1300px) {
    .media_image2 {
        width: 47%;
    }
    .containerr .mediaInfo {
        width: 47%;
    }
    .containerr2 .mediaInfo2 {
        width: 47%;
    }
    /* .containerr .mediaInfo a .box,
    .containerr2 .mediaInfo2 a .box {
        padding: 0 0;
    } */
    .containerr .mediaInfo .box,
    .containerr2 .mediaInfo2 .box {
        padding: 0 0;
    }
}

@media screen and (max-width: 768px) {
    .media,
    .media2 {
        padding: 20px 0;
    }
    .containerr,
    .containerr2 {
        flex-direction: column;
    }
    .containerr .media_image,
    .containerr2 .media_image2 {
        padding: 0 10px;
    }
    .containerr .mediaInfo,
    .containerr2 .mediaInfo2 {
        padding: 0 60px;
    }
    .containerr .mediaInfo,
    .containerr .media_image,
    .containerr2 .mediaInfo2,
    .containerr2 .media_image2 {
        width: 100%;
    }
    .containerr .mediaInfo {
        order: 2;
    }
    .containerr .media_image {
        order: 1;
    }
}

@media screen and (max-width: 600px) {
    .content h2 {
        font-size: 30px;
    }
    .containerr .media_image,
    .containerr2 .media_image2 {
        padding: 0 10px;
    }
    .containerr .mediaInfo,
    .containerr2 .mediaInfo2 {
        padding: 0 40px;
    }
}

@media screen and (max-width: 500px) {
    .containerr .media_image,
    .containerr2 .media_image2 {
        padding: 0 10px;
    }
    .containerr .mediaInfo,
    .containerr2 .mediaInfo2 {
        padding: 0 20px;
    }
}
