@import url('http://fonts.cdnfonts.com/css/d-din');

* {
    font-family: 'D-DIN Condensed', sans-serif;
    font-family: 'D-DIN Exp', sans-serif;
    font-family: 'D-DIN', sans-serif;

    padding: 0;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .5s linear;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    border: none;
}

header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header {
    transform: translateY(-100%);
}

.header.show {
    transform: translateY(0);
}

.header_background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
    transform: translateY(-100%);
    /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
}

.header_background.show_background {
    transform: translateY(0);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
}

.inner_header {
    display: flex;
    justify-content: space-between;
}

#logo {
    z-index: 50;
    margin-top: 10px;
    width: 350px;
    text-align: center;
}

#logo .logo {
    display: inline;
    text-align: center;
}

#logo .logo img {
    display: inline-block;
    width: 25%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: -170px;
    z-index: 51;
}

.navbar ul {
    display: inline;
}

.navbar ul li {
    display: inline-block;
    position: relative;
}

.navbar ul li a {
    display: inline-block;
    text-decoration: none;
    /* font-size: 1.5rem; */
    font-family: 'D-DIN', sans-serif;
    font-size: 14px;
    color: white;
    margin: .5rem 1rem;
    border-radius: .5rem;
    text-transform: uppercase;
}

.navbar .nav_link {
    position: relative;
}

.navbar .nav_link::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: white;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.navbar .nav_link:hover:after {
    transform: scaleX(1);
    transform-origin: left center;
}

.header .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.header .icons .fab-icons {
    display: inline-block;
}

.header .icons #menu-bar {
    font-size: 18px;
    color: white;
    z-index: 222223;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding-top: 13px;
}


/* -------------------right anavigation------------------------------------ */

#other-informations {
    height: 100vh;
    /* width: 280px; */
    width: 310px;
    position: absolute;
    top: 0;
    right: -20px;
    background-color: black;
    padding: 0 50px;
    z-index: 200;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    overflow-y: scroll;
    scrollbar-width: none;
}

#other-informations.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.navbar2 {
    display: block;
    width: 200px;
    padding-top: 80px;
    padding-bottom: 50px;
    float: right;
    color: white;
    text-align: right;
    opacity: 0;
}

.navbar2.active {
    background: black;
    opacity: 1;
}

.navbar2 ul li {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    border-bottom: .1px solid rgb(87, 86, 86);
}

.navbar2 ul li a {
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.fa-angle-double-down {
    padding: 0 15px;
}

.sub-menu-1 ul li {
    border-bottom: .1px dashed rgb(87, 86, 86);
}

.sub-menu-1 ul li a {
    color: gray;
    font-size: 14px;
}

.sub-menu-1 ul li a:hover {
    color: white;
    transition: .3s;
}


/* ================-----------right navigation submenu----------================== */

#sub-menu-1 {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    position: absolute;
    right: 50px;
    opacity: 0;
    transition: opacity .0s;
}

#sub-menu-1.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    position: static;
    opacity: 1;
    transition: all .5s;
}

#sub-menu-2 {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    position: absolute;
    right: 50px;
    opacity: 0;
    transition: opacity .0s;
}

#sub-menu-2.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    position: static;
    opacity: 1;
    transition: all .5s;
}

#sub-menu-3 {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    position: absolute;
    right: 50px;
    opacity: 0;
    transition: opacity .0s;
}

#sub-menu-3.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    position: static;
    opacity: 1;
    transition: all .5s;
}


/* -------------------right navigation submenu end------------------------------------ */


/* header media queries */

@media screen and (min-width: 1440px) {
    header #logo .logo img {
        width: 30%;
    }
    .navbar {
        margin-left: -300px;
    }
}

@media screen and (max-width: 1440px) and (min-width: 990px) {
    header #logo {
        width: 250px;
    }
    header #logo .logo img {
        width: 35%;
    }
}

@media screen and (max-width: 1060px) {
    .navbar {
        margin-left: -100px;
    }
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 50%;
    }
    .icons {
        margin-right: 50px;
    }
}

@media screen and (max-width: 860px) {
    .navbar {
        margin-left: -30px;
    }
    .icons {
        margin-right: 30px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 990px) and (min-width: 768px) {
    #logo {
        width: 150px;
    }
    #logo .logo img {
        display: inline-block;
        width: 60%;
    }
}

@media screen and (max-width: 768px) and (min-width: 400px) {
    header #logo {
        width: 150px;
    }
    header #logo .logo img {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    header .navbar {
        display: none;
    }
    .header .icons {
        margin-right: 30px;
    }
}

@media screen and (max-width: 450px) {
    #other-informations {
        width: 280px;
    }
    .header .icons {
        margin-right: 30px;
    }
}

@media screen and (max-width: 400px) and (min-width: 100px){
    #logo .logo img {
        display: inline-block;
        width: 60%;
    }
    #logo {
        width: 130px;
    }
    .header .icons {
        /* display: flex;
        align-items: center;
        justify-content: center; */
        margin-right: 30px;
    }
}


/* header media queries end */


/* ----------------------content---------------- */

body {
    background: black;
    display: grid;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

@media screen and (max-width: 700px) and (min-width: 100px) {
    #background-video {
        width: 100%;
        height: auto;
    }
}

.main {
    visibility: hidden;
    margin-top: 128px;
    display: flex;
    justify-content: center;
    color: #9b9b9b;
    line-height: 4.2em;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;
}


/* --------------footer section------------------------ */

.footer .icons {
    margin-left: -15px;
}

.footer .icons .fab-icons a {
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: .5rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: #eee;
    line-height: 3rem;
    text-align: center;
    text-decoration: none;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: black;
}

.footer>* {
    flex: 1 100%;
}

.footer .footer-left {
    display: inline-block;
    padding-top: 50px;
    padding-left: 75px;
    padding-bottom: 30px;
    padding-right: 0;
    margin-right: 0;
    width: 200px;
}

.footer .footer-left .left-box {
    display: inline-block;
    width: fit-content;
}

.footer .footer-left .left-box .img {
    display: inline-block;
    width: 195px;
    height: auto;
    text-align: center;
}

.footer .footer-left .left-box .img img {
    width: 65%;
    height: auto;
    text-align: center;
}

.footer .footer-left .left-box .address {
    font-size: small;
    color: #999;
    text-align: left;
    width: fit-content;
    text-align: center;
    width: 195px;
}

.footer .footer-left .left-box .address {
    text-align: center;
}

.footer .footer-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin-left: 270px;
}

.footer .footer-right>* {
    margin-right: 1.25em;
}

.footer .footer-right li {
    line-height: 2rem;
}

.footer .footer-right li .box {
    display: inline-block;
    margin-top: 50px;
}

.box li a {
    color: #999;
    display: inline-block;
    text-decoration: none;
    padding: 0 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
}

.footer-bottom {
    text-align: center;
    color: #999;
    padding-top: 20px;
}

@media screen and ( min-width: 600px) {
    .footer .footer-left {
        flex: 0 0px;
    }
    .footer .footer-right>* {
        flex: 1;
    }
    .footer .footer-right {
        flex: 2 0px;
    }
}

@media screen and (max-width:1440px) and (min-width: 990px) {
    .footer .footer-left {
        padding-left: 25px;
    }
    .footer .footer-right {
        margin-left: 170px;
    }
}

@media screen and (max-width: 990px) and (min-width: 600px) {
    .footer .footer-left {
        padding-left: 0;
    }
    .footer .footer-right {
        margin-left: 55px;
    }
}

@media screen and (max-width: 600px) and (min-width: 0px) {
    .main {
        font-size: 55px;
    }
    .footer .footer-left {
        text-align: center;
        padding: 0;
    }
    .footer .footer-right {
        margin-left: 0;
    }
    .footer .footer-right li .box {
        margin-top: 30px;
    }
}