* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: "D-Din", sans-serif;
}

li {
    color: white;
    font-size: 17px;
    letter-spacing: .8px;
    word-spacing: 2.5px;
    padding: 5px 0;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 50px;
    color: white;
}

h2 {
    font-size: 30px;
    color: white;
}

p {
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1.2rem;
}


/* ----------------============================-------------------------- */

.banner-container {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../../img/blog/banner5.jpg) center /cover no-repeat;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    z-index: -33;
}

.banner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: -33;
}

.banner-title {
    font-size: 3rem;
    line-height: 1.2;
    z-index: -33;
}

.banner-title span {
    color: white;
    z-index: -33;
}

.banner p {
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: 2px;
    z-index: -33;
}

.banner1 {
    display: none;
}

@media screen and (max-width: 1100px) {
    .banner1 {
        display: block;
    }
    .banner2 {
        display: none;
    }
}


/* blog designs */

.design {
    padding: 4.5rem 0;
    background-color: black;
}

.title {
    text-align: center;
    padding: 1rem 0;
}

.title h2 {
    font-size: 30px;
}

.title p {
    text-transform: uppercase;
    padding: 0.6rem 0;
}

.design-content {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.design-content>* {
    flex: 1 33%;
}

.design-item {
    cursor: pointer;
    overflow: hidden;
    background-color: gray;
    margin: 50px 0;
    max-width: 30%;
}

.design-img {
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.design-img img {
    height: 250px;
}

.design-img::after {
    position: relative;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

.design-img img {
    transition: all .5s ease;
    overflow: hidden;
}

.design-item:hover img {
    transform: scale(1.2);
}

.design-img span:first-of-type {
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 10px;
    background: black;
    color: white;
    padding: .25rem .5rem;
}

.design-img span:last-of-type {
    position: absolute;
    z-index: 3;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 1.1rem;
}

.design-title {
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: 100px;
}

.design-title a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}


/* blog css */

.blog {
    background-color: gray;
    background-color: rgb(93, 93, 93);
    padding: 4.5rem 0;
}

.blog-content {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-content>* {
    flex: 1 33%;
}

.blog-item {
    background-color: black;
    max-width: 30%;
    margin-bottom: 50px;
}

.blog-text {
    margin: 2.2rem 0;
    margin: 1rem 0;
    padding: 0 1rem;
}

.blog-text span {
    font-weight: 300;
    display: block;
    padding-bottom: .5rem;
}

.blog-text h2 {
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
}

.blog-text p {
    font-weight: 300;
    font-size: 1.1rem;
    opacity: .9;
    padding-bottom: 1.2rem;
}

.blog-text a {
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    display: inline-block;
    background-color: white;
    padding: .55rem 1.2rem;
    transition: all .5s ease;
}

.blog-text a:hover {
    background: white;
    background: gray;
    color: white;
}


/* media query */

@media screen and (max-width: 768px) {
    .design-content,
    .blog-content {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .design-content>*,
    .blog-content>* {
        flex: 1 100%;
    }
    .design-item,
    .blog-item {
        margin: 0;
        max-width: 100%;
    }
    .design-item {
        margin-bottom: 50px;
    }
    #last_design {
        margin-bottom: 0;
    }
    .blog-item {
        margin: 25px 0;
        padding-bottom: 15px;
    }
    .blog-content,
    .design-content {
        padding-left: 50px;
        padding-right: 50px;
    }
    .blog {
        padding: 1.5rem 0;
    }
}

@media screen and (max-width: 600px) {
    .blog-content,
    .design-content {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 500px) {
    .blog-content,
    .design-content {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (min-width: 540px) {
    .banner-title {
        font-size: 4rem;
    }
}


/* @media screen and (max-width: 1200px) and (min-width: 768px) { */

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .design-content,
    .blog-content {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .design-content>*,
    .blog-content>* {
        flex: 1 50%;
    }
    .design-item,
    .blog-item {
        margin: 0;
        max-width: 45%;
        margin-bottom: 50px;
    }
    #last_design {
        margin-bottom: 0;
    }
}